

/***********陈伟钰的样式****************/

.section5 {
    background-color: #C2E5FF !important;
    background:url(../img/bg5.png) 50% no-repeat; 
    color:#004b85;    
    font-family: "Microsoft YaHei" ,Georgia , sans-serif;
    text-align: left;


}


.section5 div {
    width:11.0rem;
    height: 11.0rem;
    padding: 0.5rem;
    line-height: 1.5rem;
    border: 1px solid #B6DDF9;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1.0rem #A6D9FF;

}



.section5 h1 {
    text-align: center;
    padding-bottom: 0.5rem; 
    font-size: 2.0rem;
}
.section5>div p{
    font-size: 0.8rem;

}

#chen_intro1 {
    
    position: absolute;
    left:-180rem;
    top: -80.0rem;
    
}

.chen_anima1 {
    animation:          chenAnimate1 10s  ;
    -webkit-animation : chenAnimate1 10s  ;
    -moz-animation:     chenAnimate1 10s  ;   
    -o-animation:       chenAnimate1 10s  ;

    animation-animation-fill-mode:      forwards;
    -webkit-animation-fill-mode:        forwards; 
    -moz-animation-animation-fill-mode: forwards;
    -o-animation-animation-fill-mode:   forwards;        
}

#chen_intro2 {
    position: absolute;
    left:180rem;
    top: -80.0rem;

}

.chen_anima2 {
    animation:          chenAnimate2 10s  ;
    -webkit-animation : chenAnimate2 10s  ;
    -moz-animation:     chenAnimate2 10s  ;   3
    -o-animation:       chenAnimate2 10s  ;

    animation-animation-fill-mode:      forwards;
    -webkit-animation-fill-mode:        forwards; 
    -moz-animation-animation-fill-mode: forwards;
    -o-animation-animation-fill-mode:   forwards;  
    
}


#chen_intro3 {
    position: absolute;
    left:-180rem;
    top:  100.0rem;  
 
}

.chen_anima3 {
    animation:          chenAnimate3 10s  ;
    -webkit-animation : chenAnimate3 10s  ;
    -moz-animation:     chenAnimate3 10s  ;   
    -o-animation:       chenAnimate3 10s  ;

    animation-animation-fill-mode:      forwards;
    -webkit-animation-fill-mode:        forwards; 
    -moz-animation-animation-fill-mode: forwards;
    -o-animation-animation-fill-mode:   forwards;  
    
}

#chen_intro4 {
    position: absolute;
    left:180rem;
    top:  100.0rem; 


}

.chen_anima4 {
    animation:          chenAnimate4 10s  ;
    -webkit-animation : chenAnimate4 10s  ;
    -moz-animation:     chenAnimate4 10s  ;   
    -o-animation:       chenAnimate4 10s  ;

    animation-animation-fill-mode:      forwards;
    -webkit-animation-fill-mode:        forwards; 
    -moz-animation-animation-fill-mode: forwards;
    -o-animation-animation-fill-mode:   forwards;  
    
}

#chen_intro5 {

    position: absolute;
    
    left:50%;
    top:30%;
    margin-left:-5.5rem;
    
}

.section5 p,.section5 h1 {
    opacity: 0; 
}


p.chen_anima5,h1.chen_anima5{
    opacity: 0;
    animation:          chenAnimateEnd 10s  ;
    -webkit-animation : chenAnimateEnd 10s  ;
    -moz-animation:     chenAnimateEnd 10s  ;   
    -o-animation:       chenAnimateEnd 10s  ;

    animation-animation-fill-mode:      forwards;
    -webkit-animation-fill-mode:        forwards; 
    -moz-animation-animation-fill-mode: forwards;
    -o-animation-animation-fill-mode:   forwards;  
}


/*

#chen_intro5>div {
    -webkit-animation : chenAnimateBegin 3s ;
    -moz-animation:     chenAnimateBegin 3s;
    
}
*/

/*********动画块零************/
@keyframes chenAnimateEnd{
   0% { opacity: 0; }
   50% { opacity: 0; }      
   100% {opacity: 1; }

}

@-webkit-keyframes chenAnimateEnd{
   0% { opacity: 0; }
   50% { opacity: 0; }      
   100% {opacity: 1; }

}

@-moz-keyframes chenAnimateEnd{
   0% { opacity: 0; }
   50% { opacity: 0; }      
   100% {opacity: 1; }

}

@-o-keyframes chenAnimateEnd{
   0% { opacity: 0; }
   50% { opacity: 0; }      
   100% {opacity: 1; }

}

/************动画块一***************/
@keyframes chenAnimate1{
    0%   { left:-180rem;top: -80.0rem;  }
    35%  { left:0rem;top: 0rem; }
    100% { left:-18rem; top: -8.0rem; }
}

@-webkit-keyframes chenAnimate1{
  
    0%   { left:-180rem;top: -80.0rem;  }
    35%  { left:0rem;top: 0rem; }
    100% { left:-18rem; top: -8.0rem; }
}

@-moz-keyframes chenAnimate1{
    0%   { left:-180rem;top: -80.0rem;  }
    35%  { left:0rem;top: 0rem; }
    100% { left:-18rem; top: -8.0rem; }
}

@-o-keyframes chenAnimate1{
    0%   { left:-180rem;top: -80.0rem;  }
    35%  { left:0rem;top: 0rem; }
    100% { left:-18rem; top: -8.0rem; }
}

/*************动画块二***************/
@keyframes chenAnimate2{ 
    0% {  left:180rem; top: -80.0rem;   }
    35% {  left:0rem;top: 0rem; }
    100% {    left:18rem; top: -8.0rem; }
}

@-webkit-keyframes chenAnimate2{ 
    0% {  left:180rem; top: -80.0rem;   }
    35% {  left:0rem;top: 0rem; }
    100% {    left:18rem; top: -8.0rem; }
}

@-moz-keyframes chenAnimate2{ 
    0% {  left:180rem; top: -80.0rem;   }
    35% {  left:0rem;top: 0rem; }
    100% {    left:18rem; top: -8.0rem; }
}

@-o-keyframes chenAnimate2{ 
    0% {  left:180rem; top: -80.0rem;   }
    35% {  left:0rem;top: 0rem; }
    100% {    left:18rem; top: -8.0rem; }
}


/**********动画块三*********************/
@keyframes chenAnimate3{ 
    0% {      left:-180rem;top:  100.0rem;    }
    35% {  left:0rem;top: 0rem; }
    100% {    left:-18rem; top: 10.0rem; }
}

@-webkit-keyframes chenAnimate3{ 
    0% {      left:-180rem;top:  100.0rem;    }
    35% {  left:0rem;top: 0rem; }
    100% {    left:-18rem; top: 10.0rem; }
}

@-moz-keyframes chenAnimate3{ 
    0% {      left:-180rem;top:  100.0rem;    }
    35% {  left:0rem;top: 0rem; }
    100% {    left:-18rem; top: 10.0rem; }
}

@-o-keyframes chenAnimate3{ 
    0% {      left:-180rem;top:  100.0rem;    }
    35% {  left:0rem;top: 0rem; }
    100% {    left:-18rem; top: 10.0rem; }
}

/*************动画块四*****************/

@keyframes chenAnimate4{ 
    0% {    left:180rem; top:  100.0rem;   }
    35% {  left:0rem;top: 0rem; }
    100% {    left:18rem; top: 10.0rem; }
}

@-webkit-keyframes chenAnimate4{ 
    0% {    left:180rem; top:  100.0rem;   }
    35% {  left:0rem;top: 0rem; }
    100% {    left:18rem; top: 10.0rem; }
}

@-moz-keyframes chenAnimate4{ 
    0% {    left:180rem; top:  100.0rem;   }
    35% {  left:0rem;top: 0rem; }
    100% {    left:18rem; top: 10.0rem; }
}

@-o-keyframes chenAnimate4{ 
    0% {    left:180rem; top:  100.0rem;   }
    35% {  left:0rem;top: 0rem; }
    100% {    left:18rem; top: 10.0rem; }
}


/**************************************/