/* 第四屏开始 */
.section4 {
    position: relative;
    color: #fff;
    text-align: left;
    font-family: "Microsoft Yahei","Hiragino Sans GB",Helvetica,"Helvetica Neue","微软雅黑",Tahoma,Arial,sans-serif;
    background-color: #009688;
}

.g_title {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 16px;
}

.g_title>p {
    padding: 0.5rem;
    position: absolute;
    left: 4.5rem;
    width: 10rem;
    top: 0;
    background-color: #536DFE;
    border: none;
    border-radius: 0.5rem 2rem 2rem 0.5rem;
    color: #212121;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.g_title>p span {
    display: inline-block;
    text-indent: 2em;
}

.g_title .g_guowen_icon {
    overflow: hidden;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem 0 2rem 2rem;
}

.g_guowen_icon img {
    display: block;
    width: 100%;
    height: 100%;
}

.g_info_content {
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 2;
}

.g_info_content .g_info {
    background-color: #00796b;
    height: 2rem;
    margin-top: 1.5rem;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}

.g_info_content .g_info:before {
    content: "";
    position: absolute;
    display: block;
    height: 3rem;
    width: 3rem;
    background-color: #00796b;
    margin-top: -0.5rem;
    margin-left: -1rem;
    border-radius: 50%;
    z-index: -2;
}

.g_info span {
    display: inline-block;
    margin-left: 1.5rem;
}



/* 图片翻转效果 */
.g_flip_container {
    position: absolute;
    right: 10%;
    top: 20%;
    perspective: 1000;
    transform-style: preserve-3d;
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.g_flip_container:hover .g_back {
    transform: rotateY(0deg);
}

.g_flip_container:hover .g_front {
    transform: rotateY(180deg);
}

.g_flip_container, .g_front, .g_back {
    width: 25rem;
    height: 18rem;
}

.g_flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.g_front, .g_back {
    backface-visibility: hidden;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}

.g_front {
    z-index: 2;
    transform: rotateY(0deg);
}

.g_back {
    transform: rotateY(-180deg);
    background: #00796b;
}

.vertical.g_flip_container {
    position: relative;
}

.vertical .g_back {
    transform: rotateX(180deg);
}

.vertical.g_flip_container:hover .g_back {
    transform: rotateX(0deg);
}

.vertical.g_flip_container:hover .g_front {
    transform: rotateX(180deg);
}
/* 图片翻转效果结束 */
.g_revival {
    margin: 1rem;
}

.g_F {
    position: relative;
    top: 0.625rem;
    left: 1rem;
    width: 3rem;
    height: 5rem;
    border-width: 0.5rem 0 0 0.42rem;
    border-color: #BBB6B6;
    border-style: solid;
    display: inline-block;
}

.g_F:before {
    position: absolute;
    content: '';
    top: 1.9rem;
    left: 0;
    width: 2rem;
    height: 0.4rem;
    background-color: #b2dffb;
}

.g_H {
    display: inline-block;
    position: relative;
    top: 0.625rem;
    left: 2rem;
    width: 3.5rem;
    height: 5rem;
    border-width: 0 0.5rem 0 0.5rem;
    border-color: #727272;
    border-style: solid;
}

.g_H:before {
    position: absolute;
    content: '';
    top: 2.5rem;
    left: 0;
    width: 2.5rem;
    height: 0.5rem;
    background-color: #fff;
}

.g_saying {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1rem;
    color: #fff;
}

.g_look {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.g_look_after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.g_back > h3 {
    margin: 1rem;
}

.g_look_after ul {
    list-style: none;
    font-size: 1rem;
    text-align:center;

}
.g_look_after li a{
    color: #fff;
    text-decoration: none;
}
.g_look_after li a:hover,.g_look_after li a:active{
    color: #212121;
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}
/* 第四屏结束 */
