*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

html {
    font-size: 20px;
}

body {
    font-size: 14px;
    font-size: 0.7rem;
    color: #FFFFFF;
}

.section {
    text-align: center;
}

.section1 {
    background-color: #DE3F3F;
}


/*Talk Lee section2 */


.section2 {
    display:block;
    position:relative;
    background:#000000;
}


.part1,.part2{
	width:16rem;
	height:33rem;
	display:inline-block;
    margin-top:5rem;
	position:absolute;
	top:0;

	}

.part1{
	margin-left:12rem;
	margin-right:5rem;
	left:-60rem;
	font-family: "微软雅黑";
	}

.part1 img{
	opacity: 0.95;
	border-radius: 0.5rem;

}

.part2{

	margin-left:5rem;
	margin-right:13rem;
	right:-60rem;
	font-family: "微软雅黑";


}

.part2 img{
	opacity:0.95;
	border-radius: 0.5rem;
	}


.part1 h3{font-weight:600;}
.part1,.part2{color:#121056; font-size:1.2em;}  /*BUG,要求都是二位数 */

/* 第三页样式 */

.section3 {
    font-family: Georgia, "Hiragino Sans GB", "Microsoft YaHei",
             "WenQuanYi Micro Hei", sans-serif;
    background-color: #4EB7E2;
    text-align: left;
}

.hide {
    display: none;
}

.cmd {
    position: relative;
    top: 5rem;
    margin: 0 auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 30rem;
    height: 20rem;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.title_bar {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 30rem;
    height: 1rem;
    line-height: 1rem;
    font-size: 14px;
    background-color: #EEEEEE;
}
.title_bar span:before {
    content: "\25cf";
}
.title_bar span {
    font-size: 24px;
}
.close {
    color: red;
}
.min {
    color: #FFFF00;
}
.max {
    color: #00FF00;
}
.title {
    font-family: 'Arial Black', SimHei;
    font-weight: bold;
    color: #444141;
}

#show_board{
    width: 30rem;
    height: 19rem;
    background-color: #333333;
    color: #EEEEEE;
    padding: 10px;
}

.name {
    border-bottom: 5px solid #FFFFFF;
    margin: 0 auto;
    padding-top: 5rem;
    width: 18rem;
    font-size: 36px;
}

.info {
    position: relative;
    border-bottom: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    margin: 0 auto;
    margin-top: 0.5rem;
    height: 2rem;
    width: 16rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
}

.btn {
    display: inline-block;
    border-radius: 10%;
    color: #FA9005;
    text-decoration: underline;
    cursor: pointer;
}

.btn:hover {
    color: #FCEA03;
}

.info_deco {
    display: inline-block;
    border-top: 0.5rem solid #FFFFFF;
    border-top-right-radius: 1.25rem;
    position: absolute;
    top: -0.5rem;
    left: -1px;
    height: 2.5rem;
    width: 0;
    background-color: #FFFFFF;
    color: #4EB7E2;
    text-decoration: none;
}

.g_guowen_icon img{
    display: block;
    width: 100%;
    height: 100%;
}
.g_guowen_icon{
    position: absolute;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem 0 2rem 2rem;
    margin-top: 20%;
    margin-left:20%;
}





/***********陈伟钰的样式****************/
.section5 {
    background-color: #C2E5FF !important;
    background:url(../img/bg5.png) 50% no-repeat;
    color:#004b85;
    font-family: "Microsoft YaHei" ,Georgia , sans-serif;
    text-align: left;


}


.section5>div {
    width:11.0rem;
    height: 11.0rem;
    padding: 0.5rem;
    line-height: 1.5rem;
    border: 1px solid #B6DDF9;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1.0rem #A6D9FF;
    overflow: hidden;


}



.section5 h1 {
    text-align: center;
    padding-bottom: 0.5rem;
    font-size: 2.0rem;
}
.section5>div p{
    font-size: 0.8rem;

}

#chen_intro1 {

    position: absolute;
    left:-25%;
    top:-12%;


}

#chen_intro2 {
    position: absolute;
    right:-25%;
    top:-12%;

}

#chen_intro3 {
    position: absolute;
    left:-25%;
    bottom:-20%;
}

#chen_intro4 {
    position: absolute;
    right:-25%;
    bottom:-20%;
}

#chen_intro5 {

    position: absolute;
    top:40%;
    left:50%;
    margin: -5.5rem 0 0 -5.5rem;
    display: none;
}


/* 适配小尺寸屏幕 */

@media (max-width: 768px) {
    .cmd {
        top: 5rem;
        width: 20rem;
        height: 16rem;
    }
    .title_bar {
        width: 20rem;
        height: 1rem;
        line-height: 1rem;
    }
    #show_board {
        width: 20rem;
        height: 20rem;
    }
    .name {
        width: 14rem;
    }
    .info {
        margin-top: 0.3rem;
        height: 1.8rem;
        width: 14rem;
        line-height: 1.8rem;
    }
}

@media (max-width: 384px) {
    .cmd {
        top: 3rem;
        width: 14rem;
        height: 20rem;
    }
    .title_bar {
        width: 14rem;
    }
    #show_board {
        width: 14rem;
        height: 19rem;
    }
    .name {
        padding-top: 2rem;
        width: 14rem;
    }
    .info {
        margin-top: 0.3rem;
        height: 1.8rem;
        width: 14rem;
        line-height: 1.8rem;
    }
}
