* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-size: 10px;
}

body {
    color: #fff;
    font-size: 12px;
    font-size: 1.2rem;
}

.section1 {
    background-color: #DE3F3F;
}

.section2 {
    background-color: #1795B7;
}

.section3 {
    background-color: #E61888;
}

.section4 {
    background: url(../img/guowen-bg.jpg) no-repeat;
    background-size: 100% 100%;
}
.section5 {
    background-color: #8F8484;
}




















.guowen-icon{
    margin-left: 50%;
    width: 10rem;
    height: 10rem;
    border:1px solid #333;
    border-radius: 50% 50% 50% 0;
    overflow: hidden;
}

/* guowen start */
.guowen-icon img{
    display: block;
    width: 100%;
    height: 100%;
}

/* guowen end */
