<<<<<<< Updated upstream
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 10px;
}
body {
    color: #fff;
    font-size: 10px;
    font-size: 1.2rem;
}
=======
.section2{display:table;position:relative;}
.part1,.part2{
	display: inline-block;
	width:320px;
	height:500px;
	display:table-cell;
	padding:100px 0;
	position:absolute;
	top:0;
	}
	
.part1{
	padding-left:263px;
	padding-right:100px;
	left:-1200px;
	font-family: "微软雅黑";
	}
	
.part1 img{
	opacity: 0.95;
	border-radius: 1rem;

}	
	
.part2{
	padding-left:100px;
	padding-right:263px;
	right:-1200px;
	font-family: "微软雅黑";
>>>>>>> Stashed changes

}

.part2 img{
	opacity:0.95;
	border-radius: 1rem;
	}

*{font-weight: 500;color:#121056;font-size:1.8rem}    //BUG,要求都是二位数


	

