<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="underscore-min.js"></script>
    <link rel="stylesheet" type="text/css" href="lib/normalize.css">
    <link rel="stylesheet" type="text/css" href="build/css/header.css">
    <link rel="stylesheet" type="text/css" href="build/css/main.css">
    <style>
        label{
            display:block;
        }
/*        label:hover{
            background-color:red;
        }*/
    </style>

</head>
<body>
    <header>
        <span class="logo">问卷管理</span>
        <span class="hd_title">我的问卷</span>
    </header>




    <script type="text/template" id="temp">
        <div class="container">
            <div class="rearch">
                <div class="rearchHeader">
                    <div class="rearchTitle"><%= rearchTitle %></div>
                    <!--<div class="reatchDescription"><%= description %></div>-->
                </div>
                <div class="rearchContentWrapper">
                    <div class="rearchContent">
                        <fieldset class="questionTeam">
                            <% for(var i = 0 ; i < questionTeam.length; i++ ) { %>
                            <div class="question<%= i+1 %> ">
                                <div class="questionTitle">
                                    <span class="posi">Q<%= i+1 %></span>
                                    <%= questionTeam[i].questTitle %>
                                    <% if(questionTeam[i].isMust ) { %>
                                    <span class="isMust"><%= '*' %></span>
                                    <% } %>
                                </div>
                                <% if(questionTeam[i].questType == 1 ) { %>  <!--单选题-->
                                <div class="questOptTeam">
                                    <% for(var j = 0 ; j < questionTeam[i].questOption.length ; j++ )  { %>
                                    <label><input type="radio" name=" question<%= i+1 %>" ><%= questionTeam[i].questOption[j] %></label>  <!--第几题-->
                                    <% } %>
                                </div>
                                <% } %>

                                <% if(questionTeam[i].questType == 2 ) { %>
                                <div class="questOptTeam">
                                    <% for( var j = 0 ; j < questionTeam[i].questOption.length ; j++ )  { %>
                                    <label><input type="checkbox" name="question<%= i+1 %>_<%= j+1%>" ><%= questionTeam[i].questOption[j] %></label>  <!--第几题-->
                                    <% } %>
                                </div>
                                <% } %>

                                <% if(questionTeam[i].questType == 3 ) { %>
                                <div class="questAnsContainer">
                                    <label><textarea name="question<%= i + 1%>"></textarea></label>
                                </div>
                                <% } %>
                            </div>
                            <% } %>
                        </fieldset>
                        <footer>
                            <input type="button" value="提交问卷" id="submit">
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script src="config.js"></script>
    <script>
        var compiled = _.template(document.querySelector('#temp').innerHTML);
        document.body.innerHTML += compiled(data);
    </script>
    <script src="main.js"></script>
</body>
</html>











